
:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
  max-width: auto;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: var(--slate);
}


.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*--Header--*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;

}

.header-container {
  display: flex;
  align-items: center;
  
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
position: relative;
}

.header-contacts {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 0;
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
  margin-left: 0;
}

.header-logo-studio {
  color: var(--navy-blue);
  transition-property: background-color;
  transition-duration: 500ms;
}

.logo:hover,
.logo:focus {
  text-decoration: none;
  color: var(--ocean);
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
  transition-property: background-color;
  transition-duration: 500ms;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: flex;
  position: relative;
  transition-property: background-color;
  transition-duration: 500ms;
}

.header-link:hover::after,
.header-link:focus::after {
  content: "";
  display: block;
  color: var(--ocean);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -24px;
  border-bottom: 4px solid var(--ocean);
  z-index: -1;
}
/* Header Contacts*/

.header-contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.contacts-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  position: relative;
  transition-property: background-color;
  transition-duration: 500ms;
}
.contacts-item-link:hover::after,
.contacts-item-link:focus::after {
  content: "";
  display: block;
  color: var(--ocean);
  width: 100%;
  position: absolute;
  bottom: -27px;
  left: 0;
  border-bottom: 4px solid var(--ocean);
  z-index: 1;
}

/* Section hero*/

.section-hero {
 
  padding-top: 188px;
  padding-bottom: 188px;
  height: 600px;
  max-width: 1600px;
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-hero {
}

.title-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 16px 32px;

  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 500ms;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/*Our goals section*/


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-goals {
  padding: 120px 0;
  
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.item-goals {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.goals-list {
  display: flex;
  gap: 24px;
}

.goals-icons-item {
border: 1px solid var(--light-slate);
border-radius: 4px;
width: 264px;
height: 112px;
padding: 24px;
margin: auto 0px;
justify-content: center;

}

.goals-points {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.goals-descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-top: 8px;
}

/*Our projects section*/

.projects-section {
  padding-bottom: 120px;
}

.our-projects {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.projects-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

/*Our team section*/

.our-team-section {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-item {
  background-color: var(--white);
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-item-container {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.item-team {
  background-color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.item-descript {
  background-color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*--Social icons list--*/

.social-icons-list{
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  
}

.social-item {
  fill: transparent;
  flex-basis: calc((100% - 3 * 24px) / 4);
  transition-property: background-color;
  transition-duration: 500ms;
  
}

.icons {


}


/*Main section portfolio*/

.main-section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}



/*Portfolio list*/

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid var(--cloud);
  border-top: none;
}

.img-portfolio-link {
  
}


.portfolio-title-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  transition-property: background-color;
  transition-duration: 500ms;
}

.portfolio-descr-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition-property: background-color;
  transition-duration: 500ms;
}

.link:hover {
  color: var(--ocean);
}

/*--Footer--*/

.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
    margin-right: auto;
    gap: 120px;
   position: relative;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  transition-property: background-color;
  transition-duration: 500ms;
}

.footer-logo-studio {
  color: var(--cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 264px;
  margin-top: 16px;
}

.social-media-text {
  font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white);
}

.social-media {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0 auto;
}

.social-media-container {
  
}

.social-item {
  width: 40px;
  height: 40px;
  background-color: var(--ocean);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 500ms;
}


.social-item:hover, 
.social-item:focus {
background-color: var(--iris);

}

